.slide-in-right {
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
  }
  
  .card:hover .slide-in-right {
    right: 50px;
  }

  .action-node .card {
    border: 2px solid #35c25e;
    background: #35c25e
  }

  .action-node:hover .card{
    background: white !important
  }