.slide-in-right {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}

.algorithm-node {
  width: 180px;
  height: 90px;
}

.card:hover .slide-in-right {
  right: 50px;
}

.algorithm-node .card {
  border: 2px solid #c145d7;
  background: #c145d7
}

.algorithm-node:hover .card {
  background: white !important
}